In [7]:
import pandas as pd

In [1]:
string = "10001146, Barbara Celi Braga Camargo, 3.28 / 10001113, Bonnie Romano Zaire, 3.55 / 10001157, Diego Lorenzo de Oliveira, 7.23 / 10001159, Edith Tueros Cuadros, 0.35 / 10001147, Fabio Rafael Herpich, 6.74 / 10001153, Felipe de Almeida Fernandes, 7.66 / 10001036, Felipe Donizeti Teston Navarete, 8.35 / 10001042, Gustavo Benedetti Rossi, 4.98 / 10001145, Irapuan Rodrigues de Oliveira Filho, 6.44 / 10001156, Isabel de Jesus Lima, 6.75 / 10001132, Isabel Regina Guerra Aleman, 6.64 / 10001115, Jose Andres Hernandez Jimenez, 5.73 / 10001043, Larissa Takeda, 7.63 / 10000004, Leandro de Almeida, 4.50 / 10001134, Marcos Antonio Fonseca Faria, 2.88 / 10001140, Marina Machado Cunha e Mello, 5.02 / 10001082, Murilo Marinello Assis de Oliveira, 7.66 / 10001155, Thais dos Santos Silva, 4.81 / 10001152, Wagner Schlindwein, 5.92"

In [10]:
proc = [f.split(",") for f in string.split("/")]
pd.DataFrame(proc, columns=["ID", "Name", "Grade"]).sort_values("Grade", ascending=False).reset_index()

    index         ID                                  Name   Grade
0       6   10001036       Felipe Donizeti Teston Navarete   8.35
1      16   10001082    Murilo Marinello Assis de Oliveira   7.66
2       5   10001153           Felipe de Almeida Fernandes   7.66
3      12   10001043                        Larissa Takeda   7.63
4       2   10001157             Diego Lorenzo de Oliveira   7.23
5       9   10001156                  Isabel de Jesus Lima   6.75
6       4   10001147                  Fabio Rafael Herpich   6.74
7      10   10001132           Isabel Regina Guerra Aleman   6.64
8       8   10001145   Irapuan Rodrigues de Oliveira Filho   6.44
9      18   10001152                    Wagner Schlindwein    5.92
10     11   10001115         Jose Andres Hernandez Jimenez   5.73
11     15   10001140          Marina Machado Cunha e Mello   5.02
12      7   10001042               Gustavo Benedetti Rossi   4.98
13     17   10001155                Thais dos Santos Silva   4.81
14     13   10000004                    Leandro de Almeida   4.50
15      1   10001113                   Bonnie Romano Zaire   3.55
16      0   10001146            Barbara Celi Braga Camargo   3.28
17     14   10001134          Marcos Antonio Fonseca Faria   2.88
18      3   10001159                  Edith Tueros Cuadros   0.35